body {
  background-image: url(https://orig00.deviantart.net/c5e8/f/2011/326/0/2/free_web_background_3_by_kgombocka-d4gz4lh.jpg); }

.sub-nav {
  list-style-type: none; }

.java {
  color: #dd6d11; }

.int {
  color: #1325cc; }

.type {
  color: #6da6e4; }

.string {
  color: #46a011; }

#div {
  background-color: rgba(26, 25, 25, 0.7);
  border-radius: 50px;
  padding-top: 50px; }

#wrapper {
  padding: 90px 15px; }

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column; }

.card {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.leftmenutrigger {
  display: none; }

@media (min-width: 992px) {
  .leftmenutrigger {
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer; }
  #wrapper {
    padding: 90px 15px 15px 15px; }
  .navbar-nav.side-nav.open {
    left: 0; }
  .navbar-nav.side-nav {
    padding-top: 10px;
    background: #585f66;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 51px;
    flex-direction: column !important;
    left: -220px;
    width: 200px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; } }

.animate {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
